# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
develop-eggs/
*.egg-info/

# PyInstaller
*.spec

# Environments
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# Folders to ignore
processed_gifs/
